# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (Matches any name at any level)
**/ai_env/
**/venv/
**/.venv/
**/env/

# IDE settings
**/.vscode/
**/.idea/
*.iml